/* Common button styles */
button {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
}

/* Buy Now button styles */
.book-info .buy-now {
    background-color: #6a4c24;
    color: white;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.book-info .buy-now:hover {
    background: linear-gradient(45deg, #6a4c24, #8a6e3e);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
}

/* Add to Cart button styles */
.book-info .cart {
    background-color: #f8f8f8;
    color: #6a4c24;
    border: 1px solid #6a4c24;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.book-info .cart:hover {
    background-color: #6a4c24;
    color: white;
    border: 1px solid #6a4c24;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
}

/* Author details button styles */
.author-details button {
    background-color: #6a4c24;
    color: white;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.author-details button:hover {
    background: linear-gradient(45deg, #6a4c24, #8a6e3e);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
}

/* Quantity buttons styles */
.book-info .quantity button {
    padding: 5px 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.book-info .quantity button:hover {
    background-color: #e3d9cc;
    border-color: #6a4c24;
    color: #6a4c24;
}

/* General Styles */
/* Section Styles */
.section {
    max-width: 1240px;
    margin: 20px auto;
    background-color: #ffffff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 40px;
    box-sizing: border-box;
    border-radius: 20px; /* Rounded corners */
}

/* General Styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
}

header {
    background-color: #6a4c24;
    padding: 24px 40px; /* Increased padding for a spread out header */
    box-sizing: border-box;
}

header .container {
    max-width: 1240px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    font-size: 28px;
    font-weight: bold;
    color: white;
}

header nav {
    flex: 1;
    display: flex;
    justify-content: center;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

header nav ul li a:hover {
    background-color: #796751;
}

@media (max-width: 768px) {S
    /* Adjustments for smaller screens */
    header {
        padding: 16px 20px; /* Adjusted padding for smaller screens */
    }

    header .logo {
        font-size: 24px;
    }

    header .container {
        flex-direction: column;
        align-items: flex-start;
    }

    header nav {
        display: none;
        width: 100%;
        justify-content: space-around;
    }

    header nav.show {
        display: flex;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #6a4c24;
        flex-direction: column;
        align-items: center;
    }

    header nav ul {
        flex-direction: column;
        gap: 10px;
    }

    header nav ul li a {
        padding: 12px 20px;
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    /* Further adjustments for mobile screens */
    header {
        padding: 12px 16px; /* Further adjusted padding for smaller screens */
    }

    header .logo {
        font-size: 20px;
    }

    header nav ul li a {
        padding: 10px 15px;
        font-size: 14px;
    }
}


header .icons {
    display: flex;
    gap: 10px;
}

header .icons a img {
    width: 24px;
    height: 24px;
}

header .menu-icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

@media (max-width: 768px) {
    header nav {
        display: none;
    }

    header nav.show {
        display: block;
        position: absolute;
        top: 96px;
        left: 0;
        background-color: #e3d9cc;
        width: 100%;
    }

    header nav ul {
        flex-direction: column;
        gap: 10px;
    }

    header .menu-icon {
        display: block;
    }

    header .icons {
        display: none;
    }
}

main {
    width: 100%;
}

.section-1 {
    max-width: 1240px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
}

.book-details {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
}

.book-cover img {
    width: 100%;
    max-width: 300px;
    height: auto;
}

.book-info {
    flex: 1;
}

.book-info h1 {
    margin: 0;
    font-size: 32px;
    color: #6a4c24;
}

.book-info h2 {
    margin: 10px 0;
    font-size: 24px;
    color: #9d7f57;
}

.book-info .price {
    font-size: 24px;
    color: #e67e22;
    margin: 10px 0;
}

.book-info .description {
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 1.6;
    color: #555;
}

.book-info .reviews {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.book-info .quantity {
    display: flex;
    align-items: center;
    gap: 5px;
}

/* Responsive styles */
@media (max-width: 768px) {
    header .container {
        flex-direction: column;
        align-items: flex-start;
    }

    header nav ul {
        flex-direction: column;
        gap: 10px;
    }

    header .icons {
        margin-top: 10px;
    }

    .section-1, .section-2, .section-3 {
        padding: 10px;
    }

    .book-info {
        margin-top: 20px;
    }
}

@media (max-width: 480px) {
    header {
        padding: 10px;
    }

    header .logo {
        font-size: 20px;
    }

    header nav ul li {
        font-size: 16px;
    }

    .book-info h1 {
        font-size: 24px;
    }

    .book-info h2 {
        font-size: 20px;
    }

    .book-info .price {
        font-size: 20px;
    }

    .book-info .description {
        font-size: 14px;
    }

    button {
        font-size: 14px;
        padding: 8px 16px;
    }

    .book-info .quantity button {
        font-size: 14px;
        padding: 4px 8px;
    }
}

.section-2 {
    max-width: 1240px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
}

.product-details,
.author-details {
    flex: 1;
}

.product-details h3,
.author-details h3 {
    margin: 0 0 10px;
    font-size: 24px;
    color: #6a4c24;
}

.product-details ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 16px;
}

.product-details ul li {
    margin-bottom: 10px;
}

.author-details p {
    font-size: 16px;
    line-height: 1.6;
    color: #555;
}

.section-3 {
    max-width: 1240px;
    margin: 20px auto;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
}

.section-3 h3 {
    margin: 0 0 10px;
    font-size: 24px;
    color: #6a4c24;
}

.related-items {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    height: 100%;
}

.related-item {
    text-align: center;
}

.related-item img {
    width: 150px;
    height: auto;
}

footer {
    background-color: #f0e8da;
    max-width: 1240px;
    margin: 20px auto;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .contact p {
    margin: 0 0 10px;
    font-size: 16px;
    color: #555;
}

footer .social a img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

footer .navigation ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}

footer .navigation ul li {
    font-size: 16px;
}

footer .navigation ul li a {
    color: #6a4c24;
    text-decoration: none;
}



.section-1 {
    max-width: 1240px;
    margin: 20px auto;
    background-color: #ffffff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 40px;
    box-sizing: border-box;
    border-radius: 20px; /* Rounded corners */
}

/* Section 2 */
.section-2 {
    max-width: 1240px;
    margin: 20px auto;
    background-color: #ffffff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 40px;
    box-sizing: border-box;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%); /* Polygonal shape */
}

/* Section 3 */
.section-3 {
    max-width: 1240px;
    margin: 20px auto;
    background-color: #ffffff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 40px;
    box-sizing: border-box;
    border-radius: 10px; /* Rounded corners */
}

/* General Styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
}