/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: url('/7-gradient-background-animation-CSS.avif') no-repeat center center fixed;
    background-size: cover;
    color: #333;
    overflow-x: hidden;
}

/* Header */
header {
    background: rgba(30, 144, 255, 0.8);
    color: white;
    padding: 2rem 0;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    animation: slideIn 1s ease-out;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
    animation: fadeIn 2s ease-in-out;
}

/* Navigation */
nav {
    background: rgba(68, 68, 68, 0.8);
    color: white;
    padding: 0.75rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 1.5rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #00bfff;
    text-shadow: 0 0 10px rgba(0, 191, 255, 0.7);
}


main {
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.9);
    margin: 2rem auto;
    max-width: 900px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    animation: fadeIn 1.5s ease-in-out;
}

section {
    margin-bottom: 2.5rem;
}

section h2 {
    border-bottom: 2px solid #1e90ff;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    color: #1e90ff;
}

.product-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.product-list li {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
    background: rgba(255, 255, 255, 0.8);
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.product-list li:hover {
    transform: translateY(-5px);
}

.product-list img {
    max-width: 150px;
    border-radius: 10px;
    margin-right: 1rem;
}

.product-list p {
    margin: 0;
    font-size: 1.1rem;
}

footer {
    background: #444;
    color: white;
    text-align: center;
    padding: 1.5rem 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

footer p {
    margin: 0;
    font-size: 0.9rem;
    animation: slideUp 1.5s ease-in-out;
}

@keyframes slideIn {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideUp {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}
